/*

Copyright: 2024 - Aduki Incorporation & Darkchesa Comics
Name: Ruki Player
URL: https://github.com/aduki-Inc/ruki.git
Author: Fredrick Femar Ochieng
Author URL: https://femar.co.ke


/* Fonts
==================================== */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sen:wght@400;500;600;700;800&display=swap');

/* Normalize
==================================== */
:root {
  --font-main: 'Plus Jakarta Sans';
  --font-mono: 'Jetbrains Mono';
  --background: #ffffff;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-main), sans-serif;
}

*:focus {
  outline: inherit !important;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #DDDDD7;
}

*::-webkit-scrollbar-thumb {
  width: 3px;
  background: linear-gradient(#53595f, #627ea0);
  border-radius: 50px;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  /* border: 3px solid red; */
  background-position: 100%;
	background-size: cover;
	background-size: 1rem 1rem;
	background-color: #f3f4f9;
	background-image: radial-gradient(circle,rgb(209, 209, 209) 1px, rgba(0, 0, 0, 0) 1px);
}



/*

Typography
==========

*/

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: var(--font-main), sans-serif;
}

ul, ol {
  padding: 0;
  margin: 0;
}

ul li, ol li {
  list-style-type: none;
}

a {
  text-decoration: none;
}


/*

Typography End
==============

*/


.area {
  /* background: #4e54c8; */
  /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8); */
  position: fixed;
  left: 0;
  height: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  z-index: 2;
  display: block;
  list-style: none;
  width: 45px;
  height: 45px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #21d02a60;

}

.circles li:nth-child(odd) {
  color: rgba(240, 156, 78, 0.678);
}

.circles li svg {
  width: 90%;
  height: 90%;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 40px;
  height: 40px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 40px;
  height: 40px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 55px;
  height: 55px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 35px;
  height: 35px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 100px;
  height: 100px;
  animation-delay: 1s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}



/*

  SECTION - LOGON

*/

section.logon {
  /* border: 2px solid blue; */
  background: rgb(15, 28, 112);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.logon .canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
  border-radius: 6px;
}

section.logon .logon-container {
  /* background-color: var(--background); */
  background: #ffffffec;
  z-index: 3;
  padding: 20px;
  width: 700px;
  height: max-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.062);
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
  border-radius: 10px;
  position: relative;
}

section.logon .logon-container >.head {
  /* border: 1px solid #404040; */
  background-color: transparent;
  margin: 0 0 25px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

section.logon .logon-container >.head>.logo {
  /* border: 2px solid rgb(175, 84, 84); */
  max-height: max-content;
  position: relative;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

section.logon .logon-container >.head>.logo h2 {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-weight: 600;
  font-size: 1.8rem;
  color: transparent;
  background: linear-gradient(103.53deg, #18A565 -6.72%, #21D029 109.77%);
  background-clip: text;
  -webkit-background-clip: text;
  font-family: var(--font-mono);
}

section.logon .logon-container >.head>.logo span.slogan {
  margin: 0;
  width: 100%;
  color: #808080;
  line-height: 1.4;
  font-family: var(--font-mono);
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

section.logon .logon-container > .welcome {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  justify-content: center;
}

section.logon .logon-container>.welcome > p {
  grid-column: 1/3;
  margin: 0%;
  text-align: center;
  color: #404040;
  line-height: 1.4;
  font-size: 1.1rem;
}

section.logon .logon-container >.welcome > a {
  /*background: linear-gradient(103.53deg, #18A565 -6.72%, #21D029 109.77%);
  */
  background: linear-gradient(0deg,      #18A565 0%,      #21D029 100%);
  background-color: rgb(247, 145, 162);
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px 0%;
  width: 150px;
  justify-self: center;
  text-align: center;
  color: #ffffff;
  border: none;
  font-size: 1.15rem;
  font-weight: 500;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

section.logon .logon-container > .welcome > a:last-of-type {
  background:  rgb(223, 121, 26);
  background: linear-gradient(0deg, rgb(223, 121, 26) 0%, rgb(240, 156, 78) 100%);
  background-color: rgb(247, 145, 162);
}

section.logon .logon-container >.welcome > .info {
  /* border: 1px solid #606060; */
  grid-column: 1/3;
  /* margin: 0 0 0 20px; */
  text-align: center;
  color: #404040;
  line-height: 1.4;
}


section.logon .logon-container > .welcome > .info svg {
  margin: 0 0 -3px 0;
  color: #18A565;
  width: 18px;
  height: 18px;
}

/* section.logon .logon-container>.welcome>.info svg path {
  color: #18A565;
} */

section.logon .logon-container > .welcome > .info .aduki {
  color: transparent;
  background: linear-gradient(103.53deg, #18A565 -6.72%, #21D029 109.77%);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 400;
}

section.logon .logon-container>.welcome>.info a {
  color: #808080;
  font-style: italic;
  font-size: 0.9em;
}

section.logon .logon-container>.welcome>.info a:hover {
  color: transparent;
  text-decoration: underline;
  background:  rgb(223, 121, 26);
  background: linear-gradient(0deg, rgb(223, 121, 26) 0%, rgb(240, 156, 78) 100%);
  background-color: rgb(247, 145, 162);
  background-clip: text;
  -webkit-background-clip: text;

}

section.logon .logon-container >.fields {
  margin: 0 0 20px 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

section.logon .logon-container >.fields>.field {
  /*border: 1px solid black;*/
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  gap: 2px;
}

section.logon .logon-container >.fields .field.location,
section.logon .logon-container >.fields .field.contact,
section.logon .logon-container >.fields .field.name {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

section.logon .logon-container >.fields .field .input-group {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  color: #404040;
  gap: 5px;
  position: relative;
  transition: border-color 0.3s ease-in-out;
}

section.logon .logon-container >.fields label {
  /* border: 1px solid black; */
  padding: 0 0 5px 0;
  color: #404040;
}

section.logon .logon-container >.fields label {
  color: #666666;
  font-size: 1.1rem;
  font-family: var(--font-alt);
  position: absolute;
  top: 10px;
  left: 15px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

section.logon .logon-container >.fields label.focused {
  top: -10px;
  font-size: 0.9rem;
  /* background-color: #ffffff; */
  background-color: #eaf3ff;
  padding: 0 5px;
}

section.logon .logon-container >.fields .field span.error {
  color: #ee7752;
  font-size: 0.8rem;
  display: none;
}

section.logon .logon-container >.fields .field span.wrapper {
  display: flex;
  align-items: center;
  gap: 0;
  width: 100%;
}

section.logon .logon-container >.fields .field span.wrapper>span {
  border: 1px solid #80808037;
  border-right: none;
  font-size: 1rem;
  width: 60px;
  height: 40px;
  padding: 10px 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  color: #08b86f;
  display: flex;
  align-items: center;
}

section.logon .logon-container >.fields .field span.wrapper>input {
  border: 1px solid #80808037;
  font-size: 1rem;
  width: calc(100% - 60px);
  outline: none;
  height: 40px;
  padding: 10px 12px;
  border-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #404040;
}

section.logon .logon-container >.fields .field span.wrapper>input:focus {
  border: 1px solid #08b86f60;
}

section.logon .logon-container >.fields .field input {
  border: 1px solid #80808037;
  font-size: 1rem;
  width: 100%;
  height: 40px;
  outline: none;
  padding: 10px 12px;
  border-radius: 12px;
  color: #404040;
}

section.logon .logon-container >.fields .field input:focus {
  border: 1px solid #08b86f60;
}

section.logon .logon-container >.fields .field select {
  font-size: 1rem;
  width: 100%;
  height: 40px;
  outline: none;
  padding: 10px 12px;
  border: 1px solid #80808017;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fefefe;
  color: #404040;
  border-radius: 12px;
}

section.logon .logon-container >.footer {
  border-top: 1px solid #80808027;
  margin: 0;
  width: 100%;
  padding: 10px 0 10px 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

section.logon .logon-container > .footer > li {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #808080;
  cursor: pointer;
}

section.logon .logon-container > .footer > li span.dot {
  display: inline-block;
  margin: 2px 0 0 0;
  width: 5px;
  height: 5px;
  background-color: #808080;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

section.logon .logon-container > .footer > li a {
  color: inherit;
  /* font-family: var(--font-mono); */
  line-height: 1.4;
  font-size: 0.95rem;
  font-weight: 400;
}

section.logon .logon-container > .footer > li:hover {
  color: #21D029;
  text-decoration: underline;
}

section.logon .logon-container > .footer > li:hover span.dot {
  background-color: #21D029;
}

section.logon .logon-container > .footer > li a.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-family: var(--font-mono);
}

section.logon .logon-container > .footer > li a.copyright .year {
  font-family: var(--font-main);
  font-size: 0.9em;
  padding: 0 5px 0 2px;
  font-weight: 500;
}






/* To be removed */
section.logon .logon-container >.footer>.action {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  font-family: var(--font-alt);
  line-height: 1.2;
  font-size: 1.2rem;
  font-weight: 500;
  color: #404040;
  cursor: pointer;
}

section.logon .logon-container >.footer>.action.prev {
  padding: 10px 20px 10px 15px;
  background: rgba(57, 56, 56, 0.087);
  background: linear-gradient(0deg, rgba(57, 56, 56, 0.087) 0%, rgba(57, 56, 56, 0.187) 100%);
}

section.logon .logon-container >.footer>.action.prev svg path {
  fill: #404040;
}

section.logon .logon-container >.footer>.action.next {
  padding: 10px 15px 10px 20px;
  color: #ffffff;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
  background-color: rgb(247, 145, 162);
}

section.logon .logon-container >.footer>.action.next svg path {
  fill: #ffffff;
}

section.logon .logon-container >.footer>.action.disabled {
  background: #80808023;
  pointer-events: none;
  opacity: .9;
}